@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'poppins';
    padding=0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color:#081B4C;
    --text-color:#020102;
    --bg-color:#ccc;
}
section{
    padding: 4rem 0 2rem;
}
img{
    width:1210px;
    position: absolute;
    left: 350px;
    display: flex;
    top:170px;
    
}
body{
 color: var(--text-color);   
 background-color: #2d8ee4;
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;

}
header{
   display: block;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;  
}
#menu-icon{
    font-size: 24px;
    cursor:pointer;
    color: var(--text-color);
    display:none;
}
.logo{
    font-size: 1.9rem;
    font-weight: 900;
    color:var(--text-color);
    position: relative;
    right:160px;
}
.logo span{
  color: var(--main-color);  
}
.navbar{
    display: flex;
    column-gap: 4rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}
.navbar a:hover,.navbar .active
{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color) ;
} 
#search-icon{
    font-size: 24px;
    cursor: pointer;
    position: relative;
    left:170px;
    color: var(--bg-color);
}
.search-box{
  background: var(--bg-color);
  box-shadow: 4px 4px 20px rgb(15 54 55/10%); 
  width: 800px;
  height: 50PX;
  left: 200px;
  position: relative;

}
.search-box input{
    width: 100%;
    padding:20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}
.home{
    max-width: 1300px;
    margin: auto;
    width: 90%;
    min-height: 700px;
    display: flex;
    align-items: center;

}
label{
  display: block;
  width:170px;
   background: rgb(160, 30, 30);  
   color: #fff;
   padding: 12px;
   margin:10px auto;
   border-radius: 5px;
   cursor: pointer;
   position: relative;
   right: 160px;
   top: 30px;
}
label:hover{
   background-color: rgb(115, 29, 29); 
}
.insert input{
    display: none;
}
.home-text{
    padding-left: 5px;
}
.home-text h1{
   font-size: 2.4rem; 
}
.home-text span{
    color: rgb(122, 22, 22);
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading{
    text-align: center;

}
.heading span{
  font-weight: 500;
  color: var(--main-color);  
}
.heading p{
    font-size: 0.938rem;
    font-weight: 400;
}